.footer
  background-color: $brand-secondary
  color: white

.footer-nav
  text-align: center
  padding: 10px 0

  ul 
    padding-left: 0
    li 
      list-style: none
      display: inline
      padding: 10px 5px

      a
        color: white
        font-size: 20px
        text-decoration: none

        &:hover
          color: $brand-primary

.social-menu-footer
  padding: 0 0 20px 0
  text-align: center

  .fa
    color: lighten($brand-secondary, 20%)
    font-size: 40px
    margin-right: 10px
    text-decoration: none

    &:hover
      color: white

  .fa:last-child
    margin-right: 0