.footer
  background-color: $brand-secondary
  color: white

.footer-nav
  ul 
    li 
      list-style: none
      display: inline
      margin-right: 10px

      a
        color: white
        font-size: 20px
        text-decoration: none

        &:hover
          color: $brand-primary

    li:last-child
      margin-right: 0