.footer
  background-color: $brand-secondary
  color: white
  font-family: 'Muli', sans-serif
  text-transform: uppercase

  &:hover
    +transition
    background-color: lighten( $brand-secondary, 10% )
    color: white
    cursor: pointer

.available
  .green-dot
    background-color: green
    border-radius: 50%
    height: 12px
    width: 12px

.contact
  margin: 10px 0 

  a 
    text-decoration: none
    color: $brand-primary

    &:hover
      text-decoration: underline

.footer-top-link
  text-align: center

  a
    color: white
    display: block
    font-size: 20px
    padding: 30px 0
    text-decoration: none

.resume
  margin-top: 40px

.social-menu-footer
  padding: 0 0 20px 0
  text-align: center

  .fa
    color: lighten($brand-secondary, 20%)
    font-size: 40px
    margin-right: 10px
    text-decoration: none

    &:hover
      color: white

  .fa:last-child
    margin-right: 0