.logo
  padding: 10px 0

  a 
    color: white
    font-size: 40px
    text-decoration: none

    &:hover
      color: $brand-secondary

.navigation
  background-color: $brand-primary
  ul 
    text-align: right
    
    li
      display: inline 
      list-style: none
      margin-right: 10px

      a
        color: white
        font-size: 20px
        text-decoration: none

        &:hover
          color: $brand-secondary

    li:last-child
      margin-right: 0