$brand-primary:     #309bc8
$brand-secondary:   #272727


$project1:					#256e93
$project2:					#ec974b

$aon:								#D11E25

$caribou-dark:			#35291E
$caribou-light:			#E2D0C0
$davita:						#00467F
$hoptacular-blue:		#428BD1
$hoptacular-gold:		#FFB01A
$vitality:					#F15D22