.bg-secondary
  background-color: $brand-secondary

.bg-gray-dark
  background-color: $gray-dark

.bg-home
  background-image: url('../images/bigsur.jpg')
  background-size: cover

.bg-aon
  background-color: lighten( $aon, 10% )

.bg-caribou
  background-color: lighten( $caribou-dark, 30% )

.bg-cbln
  background-color: lighten( $cbln, 10% )

.bg-davita
  background-color: lighten( $davita, 10% )

.bg-hoptacular-blue
  background-color: lighten( $hoptacular-blue, 10% )

.bg-todo
  background-color: $todo

.bg-vitality
  background-color: lighten( $vitality, 10% )

.bg-wolves
  background-color: lighten( $wolves, 10% )
