ul.project-details
	margin-bottom: 80px
	padding-left: 0

	li 
		list-style: none

.passion
	padding: 20px 0

.aon
	a 
		@extend button
		color: lighten($aon, 10%)
	&:hover
		color: lighten($aon, 10%)

.davita
	a 
		@extend button
		color: lighten($davita, 10%)
	&:hover
		color: lighten($davita, 10%)

.mobile-project
	display: none

.vitality
	a 
		@extend button
		color: lighten($vitality, 10%)
	&:hover
		color: lighten($vitality, 10%)

.mobile-project
	display: none