ul.project-details
	margin-bottom: 40px
	margin-top: 10px
	padding-left: 0

	li
		list-style: none
		margin: 4px 0

	h4
		li:before
			content: "•"
			font-size: 12px
			padding-right: 4px

.passion
	padding: 20px 0

.aon
	a
		@extend button
		color: lighten($aon, 10%)
	&:hover
		color: lighten($aon, 10%)

.cbln
	a
		@extend button
		color: lighten($cbln, 10%)
	&:hover
		color: lighten($cbln, 10%)

.davita
	a
		@extend button
		color: lighten($davita, 10%)
	&:hover
		color: lighten($davita, 10%)

.mobile-project
	display: none

.vitality
	a
		@extend button
		color: lighten($vitality, 10%)
	&:hover
		color: lighten($vitality, 10%)

.wolves
	a
		@extend button
		color: lighten($wolves, 10%)
	&:hover
		color: lighten($wolves, 10%)

.mobile-project
	display: none

.home-work
	h2
		font-family: 'Montserrat', sans-serif
		font-weight: 100
		margin: 0 0 20px 0
		text-transform: uppercase

	h3
		margin: 5px 0

	h4
		margin: 5px 0
