.home-hero
  padding: 155px 0

  h2
    margin: 0

  h4
    line-height: 30px

.home-hero-title
  color: $brand-primary
  font-size: 100px

a.home-hero-social
  color: $brand-secondary 
  font-size: 50px
  margin-right: 10px
  text-decoration: none
  
  &:hover
    +transition
    color: $brand-primary

.home-hero-social-group
  margin-bottom: 30px