.home-hero
  padding: 160px 0

  h2
    margin: 0

.home-hero-title
  color: $brand-primary
  font-size: 100px

a.home-hero-social
  color: $brand-secondary 
  font-size: 40px
  margin-right: 10px
  text-decoration: none
  
  &:hover
    +transition
    color: $brand-primary