.home-hero
  height: 100%
  padding-top: 140px
  text-align: center

  h1
    margin: 10px 0
    font-size: 80px

  h2
    margin: 0

.home-hero-button
  margin-top: 140px
  a
    border: 3px solid white
    color: white
    font-size: 18px
    margin-top: 80px
    padding: 12px 20px
    text-decoration: none
    text-transform: uppercase

    &:hover
      background-color: white
      color: $brand-secondary

.home-hero-title
  color: $brand-primary
  font-size: 100px

a.home-hero-social
  color: $brand-secondary 
  font-size: 40px
  margin-right: 10px
  text-decoration: none
  
  &:hover
    +transition
    color: $brand-primary

img.home-image
  border-radius: 4px
  width: 450px